.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 12px;
  color: #0a0a0a;
}

.input {
  text-align: center;
  padding: 12px 8px;
  background: #fafafa;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
}

.error {
  color: #c00;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.inputIcon {
  padding-left: 36px !important;
  text-align: left;
}
