.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 12px;
  align-items: center;
}

.swap {
  cursor: pointer;
  user-select: none;
  justify-self: center;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    gap: 24px;
  }
  .swap {
    justify-self: center;
  }
}
